* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
	padding:0px;
	margin:0px auto;
	background-color:#E4E4E4;
}

header {
    background-color: #666;
    color: white;
}

.logo{
	width:auto;
	padding-left:5px;
	background-color:#FFFFFF;
}

.menu{
	margin:0px auto;
	background-color: #0021E9;
	font-size: 20px;
	height: 40px;
}

.menu table{
	border-collapse:collapse;
}

.menu table td{
	height:40px;
	padding:0;
}

.menu ul{
	list-style-type: none;
	width:100%;
	height:35px;
	padding:0;
	margin:0;
}

.menu ul li{
	height:30px;
	line-height:30px;
	display:inline;
	padding:0;
	margin:0;
}

.menu a{
	text-decoration:none;
	vertical-align: middle;
	color: #FFFFFF;
	line-height:30px;
	margin:auto 30px;
}

section{
	width:90%;
	height:580px;
	margin:10px auto;
	padding:40px 0px;
}

article{
	width:50%;
	background-color:#FFFFFF;
	margin:auto;
	padding:20px 30px;
}

article legend{
	font-size:25px;
}

article input{
	width:100%;
	height:40px;
	margin:10px auto;
	padding:10px;
}

article button{
	height:35px;
}

footer {
    background-color: #0021E9;
    text-align: right;
    color: white;
	height:30px;
}

footer p{
	line-height:30px;
	padding-right:20px;
}