#profils{
	float:left;
	width:28%;
	background-color:#FFFFFF;
	padding:10px 5px;
}

#profils table{
	height:70px;
	border-collapse:collapse;
}

#profils table td, #profil table th{
	padding:5px;
}

hr{
	height:3px;
	background-color:#000000;
}

#profils ul{
	list-style:none;
	display:block;
	width:80%;
	margin:10px auto;
	padding-left:10px;
	padding-right:10px;
}

#profils ul li{
	display:block;
	padding-left:20px;
	margin:10px auto;
	height:30px;
}

#profils ul li:hover{
	background-color:#ECECEC;
}

#profils ul li a{
	text-decoration:none;
	color:#000000;
	line-height:30px;
}

#kananp{
	float:left;
	width:70%;
	min-height:483px;
	margin-left:10px;
	background-color:#FFFFFF;
	padding-bottom:30px;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
}

#kananp form input, #kananp form select{
	width: 50%;
	height: 30px;
}

#kananp form textarea{
	width:50%;
	height:70px;
	vertical-align:top;
	text-align:left;
}