#profil{
	float:left;
	width:28%;
	background-color:#FFFFFF;
	padding:10px 5px;
}

#profil table{
	height:70px;
	border-collapse:collapse;
}

#profil table td{
	padding:5px;
}

#profil ul{
	list-style:none;
	display:block;
	width:80%;
	margin:10px auto;
	padding:10px;
}

#profil ul li{
	display:block;
	padding-left:20px;
	margin:10px auto;
	height:30px;
}

#profil ul li:hover{
	background-color:#ECECEC;
}

#profil ul li a{
	text-decoration:none;
	color:#000000;
	line-height:30px;
}

#kanan{
	float:left;
	width:71%;
	margin-left:10px;
	background-color:#FFFFFF;
}