* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
	padding:0px;
	margin:0px auto;
	background-color:#E4E4E4;
}

header {
    background-color: #666;
    color: white;
}

.logo{
	width:auto;
	padding-left:5px;
	background-color:#FFFFFF;
}

.menu{
	margin:0px auto;
	background-color: #0021E9;
	font-size: 20px;
	height: 40px;
}

.menu a{
	text-decoration:none;
	vertical-align: middle;
	color: #FFFFFF;
	line-height:30px;
	margin:auto 30px;
	font-size:20px;
}

section{
	width:90%;
	min-height:483px;
	margin:10px auto;
}

nav {
    float: left;
    width: 25%;
    height: auto;
    background: #FFFFFF;
}

nav ul {
    list-style-type: none;
	width:100%;
	padding:0;
}

nav ul li{
	height:30px;
	line-height:30px;
	width:100%;
	margin:10px auto;
	padding-left:10px;
}

nav ul li:hover{
	background-color:#F1F1F1;
	color:#0021E9;
}

nav ul li a{
	text-decoration:none;
	line-height:20px;
	color:#000000;
}

.register{
	background-color:#FFFFFF;
	width:70%;
}

article {
	margin-left:10px;
    float: left;
	padding: 20px;
    width: 74%;
	min-height:483px;
    background-color: #FFFFFF;
    height: auto;
	display:inline-block;
}

.profil table tr td{
	vertical-align:top;
	text-align:justify;
	height:33px;
}

.edit{
	bottom:0;
	width:90%;
	margin:auto;
	padding:0;
}

.edit button{
	width:100%;
	margin:0;
	text-align:center;
}

.daftar{
	border-collapse:collapse;
}

.daftar tr{
	margin-bottom:5px;
}

.daftar th{
	border-bottom:2px solid #000000;
	text-align:left;
}

.daftar tr:nth-child(even) {
    background-color: #dddddd
}

article input{
	width:52%;
	margin:-5px auto;
	padding-left:5px;
	height:25px;
}

article textarea{
	padding-left:5px;
	min-height:200px;
	width:100%;
}

article button{
	margin:auto 5px;
	width:70px;
	height:30px;
}

article select{
	width:52%;
	height:25px;
	font-size:16px;
}

section:after {
	content: "";
    display: table;
    clear: both;
}

footer {
    background-color: #0021E9;
    text-align: right;
    color: white;
	height:30px;
}

footer p{
	line-height:30px;
	padding-right:20px;
}